header{
    display: flex;
    justify-content: space-between;
    background-color: rgb(146, 129, 129);
    padding: 0 1em;
}

.menuBarButtonLink{
    background-color: rgb(218, 218, 218);
    border: 1px solid brown;
    height: 30px;
    border-radius: 20%;
    color: green;
}

.menuBarButtonLink:hover{
    background-color: rgb(122, 189, 178);
    border-radius: 40%;
    color: rgb(122, 114, 114);
}

.MenuLinks{
    display: flex;
    align-items: center;
    gap: 15px;
}

